<div class="card">
    <div class="card-body">
        <h1>Acerca de..</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit quis qui asperiores dolores dignissimos eos accusamus assumenda suscipit, inventore molestias, amet eius possimus iste sint?</p>
    </div>
</div>