<div class="jumbotron mt-4">
    <h1 class="display-4">Bitacora</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, quos?</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas natus recusandae, nam hic illum praesentium qui est id distinctio tenetur!</p>
    <a href="https://google.com" class="btn btn-primary"> Ir a google</a>
</div>