<div class="jumbotron mt-4 " align="center"id="alerta">
    <h1 class="display-5">Taller Programacion</h1>
    <p>Para ingresa haga <b>click</b> en el siguiente botón</p>
    <a href="/personas" class="btn btn-primary">Ingresar</a>
</div>