<div class="jumbotron mt-4 " align="center"id="alerta">
    <h1 class="display-5">Bienvenido al Sistema de TRAMSA</h1>
    <p>Para ingresa haga <b>click</b> en el siguiente botón</p>
    <a href="/users/signin" class="btn btn-primary">Iniciar Sesión</a>
</div>